* {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;;
}
h1 {
	font-size: 3em;
}
.main-content{
	opacity: 0.6;
    color: #FFFFFF;
	width:500px;
	height:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-65px 0 0 -265px;
    padding: 20px;
    border:15px solid white;
    	text-align: center;
    	line-height: 100px;  
	vertical-align: middle;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(thumbnail.png) no-repeat;
    background-size: cover; 
}
img {
    width: 100%;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
video#bgvid {
    transition: 1s opacity;
    

}
.stopfade { opacity: .5; }
