.main-content{
    position: fixed;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(thumbnail.png) no-repeat;
    background-size: cover; 
}
img {
    width: 100%;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
video#bgvid {
    transition: 1s opacity;
    

}
.stopfade { opacity: .5; }
