h1 {
	font-size: 3em;
	border: 10px solid white;
	opacity: 0.7;
	color:white;
}
h1 {
	
	border-top: 10px solid white;
	border-top: 10px solid white;
	opacity: 0.7;
	color:white;
}

body {
    background-color: black;
    background: url(http://placehold.it/12000x300) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
